#contact {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 5px;
}

#contact-p {
    font-size: 1.4rem;
    font-weight: 470;
}

#contact-div {
    display: flex;
    flex-direction: column;
}

#contact-nav {
    display:flex;
    justify-content: center;
}

#contact-nav ul {
    padding:0;
    display:flex;
    gap: 1.6rem;
}

#contact-nav li {
    list-style-type: none;
}
.social-handles {
    width: 50px;
    height: 50px;
    transition: 0.8s all
}

.social-handles:first-of-type {
    padding:10px;
}

.social-handles:hover {
    transform: translateY(-30%);
    background-color: var(--secondary-color);
    transition: .8s transform;
}
