@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand'), url(../../fonts/Quicksand-VariableFont_wght.ttf) format(woff);
}

#cards-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 75vh;
    max-height: 600px;
    position: relative;
}


.cards {
    border: 1px groove var(--b-color);
    border-radius: 25px;
    text-decoration: none;
    color: black;
    padding: 1.6%;
    cursor: pointer;
}

.cards:hover {
    box-shadow: 180deg 1px  2px inset;
}

#popped {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 136, 136, 0.507);
}

#cards-container button {
    font-family:Quicksand ;
}
