@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand'), url(../../fonts/Quicksand-VariableFont_wght.ttf) format(woff);
}

.hidden {
    display: none;
    overflow: hidden;
}

#cards-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    min-height: 90vh;
    position: relative;
    overflow:hidden;
}


.cards {
    border: 1px groove var(--b-color);
    border-radius: 25px;
    text-decoration: none;
    color: black;
    padding: 1.6%;
    cursor: pointer;
    transition: 1.2s;
    width: 15vw;
    min-width: 150px;
    box-shadow: 0 3px 5px black;
    height: auto;
}

.cards:hover {
    box-shadow:0 5px 8px black;
    transition: box-shadow 0.8s; 
}

#popped {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 136, 136, 0.507);
}

#cards-container button {
    font-family:Quicksand ;
}

.enlarged{
    width: 50vw;
    max-width: 600px;
    min-width: 200px;
    transition: width 1.2s;
    max-height: 80vh;
}

.enlarged h1 {
    text-align: center;
}

.content {
    text-align: right;
}

.content p {
    font-size: 1.25rem;
}

.life-divs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}