#cards-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 75vh;
    max-height: 600px;
}


.cards {
    border: 1px groove var(--b-color);
    border-radius: 25px;
    text-decoration: none;
    color: black;
    padding: 1.6%;
}

.enlarged {
    position: absolute;
    width: 86vw;
    height: 80vh;
    background-color: rgba(136, 136, 136, 0.507);
}