body {
    background-color: var(--primary-color)
}

#home-div {
    display: flex;
    flex-direction: column;
}

#home-div-hdiv {
    border-bottom: 1px solid  #5c5c5c;
    width:-moz-fit-content;
    width:fit-content;
    padding: 0 0 0 10%;
    align-self: flex-end;
}

#home-mdiv {
    text-align: center;
    margin-bottom: 22vh;
    padding: 10vh 0;
}

#home-head {
    font-weight: 470;
    letter-spacing: 18px;
}

#home-para {
    font-size: 1.8rem;
    font-weight: 450;
}

#home-div-heading {
    text-align: right;
    gap: 1rem;
    font-size: 1.75em;
    margin:0;
    animation-name:heading;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    /* color: var(--h-color); */
}

@keyframes heading {
    from {
        font-size: 0.1em;
        margin-right: 100%;
        opacity:0;
    }

    to {
        font-size:1.75em;
        opacity: 1;
        margin-right: 0%;
    }
}

#home-div-p {
    text-align: left;
    font-size: 1.4em;
    font-weight: 470;
    animation-name: 'homediv';
    padding: 0.5% 5%;
    animation-name: homediv;
    animation-duration: 3s;
}

/* .video-wrapper {
    position: relative;
    overflow:hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
} */


#home-head {
    display: inline-block;
    transform: translateY(-100%);
    transition: transform 0.8s ease-in-out;
    font-size: 2.54rem;

}

.hidden {
    display: none;
    color: transparent;
}

.visible {
    font-size: 5.2rem;
}

.falling {
    display: inline-block;
    transform: translateY(-100%);
    transition: transform 0.25s ease-in-out;
}