#home-div {
    display: flex;
    flex-direction: column;
}

#home-div-hdiv {
    border-bottom: 1px solid  #5c5c5c;
    width:-moz-fit-content;
    width:fit-content;
    padding: 0 0 0 10%;
    align-self: flex-end;
}

#home-div-heading {
    text-align: right;
    gap: 1rem;
    font-size: 1.75em;
    margin:0;
    animation-name:heading;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    color: var(--h-color);
}

@keyframes heading {
    from {
        font-size: 0.1em;
        margin-right: 100%;
        opacity:0;
    }

    to {
        font-size:1.75em;
        opacity: 1;
        margin-right: 0%;
    }
}

#home-div-p {
    text-align: left;
    font-size: 1.4em;
    font-weight: 470;
    animation-name: 'homediv';
    padding: 0.5% 5%;
    animation-name: homediv;
    animation-duration: 3s;
}
