:root {
    --b-color: #5c5c5c;
    --h-color : #1d1e75e5;
}

.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 0.8s;
}
  
.animated-section.visible {
    opacity: 1;
    transform: translateY(0);
}
  

.life-divs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.life-divs p {
    gap: 20rem;
    font-size: 1.4em
}

.life-divs h2 {
    border-bottom: 1px solid var(--b-color);
    width: -moz-fit-content;
    width:fit-content;
    padding-right: 5%;
    color: var(--h-color);
    flex-basis: 100%;
    margin:0;
}

@keyframes slide-in {
    from {
        margin-left: 100%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}

#education-div p a {
    text-decoration: none;
    color : var(--h-color);
}

#passion-div {
    display: flex;
    flex-direction:column;
}

#passion-div #p-hdiv {
    align-self: flex-end;
    text-align: right;
    padding-left:  5%;
    border-bottom: 1px solid var(--b-color);
    animation: 2s normal 1 slide-right;
}

#passion-div h2 {
    border: none;
    font-size: 1.8em;
}

@keyframes slide-right {
    from {
        opacity:0;
        font-size: 1.1em;
    }
    50% {
        font-size: 2.5em;
    }
    to {
        opacity:1;
        font-size: 1em;
    }
}

#passion-div p {
    text-align: right;
}

#learning-div h2 {
    animation: 2s normal 1 fade-down;
}
/* Create an animation that slides down */
@keyframes fade-down{
    from {
        margin-left: 100%;
        opacity:0;
    }
    to {
        opacity:1;
        margin-left:0;
    }
}

#experience-list li {
    margin-bottom: 30px;
}

#experience-list {
    list-style-type:square;
}

#cards-container .cards{
    min-height: 60vh;
    height: auto;
}

#cards-container .cards a {
    text-decoration:  none;
    color: rgb(40, 18, 122);
}
#cards-container .cards p {
    text-align: left;
}

#cards-container .cards a:visited {
    color:rgb(40, 18, 122);
}

#about-h {
    font-size: 2.5rem;
    font-weight: 470;
    letter-spacing: 18px;
    word-spacing: 0px;
    text-align: center;
}

#new-cards{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-content:center;
    padding: 10px;
    min-height: 90vh;
    position: relative;
    overflow:hidden;
    flex-direction: column;
}

#new-cards-img {
    height: auto;
    width: 0vw;
}

#growth {
    font-size: 2rem;
    font-weight: 470;
    letter-spacing: 14px;
    text-align: center;
}

#growth > span {
    border-bottom: 3px solid black;
}

#growth-p, #growth-pp {
    font-size: 1.4rem;
    text-align: left;
}