:root {
    --b-color: #5c5c5c;
    --h-color : #1d1e75e5;
}
#about-div {
    padding:0 1%;

}

.life-divs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.life-divs p {
    font-size: 1.4em
}

.life-divs h2 {
    border-bottom: 1px solid var(--b-color);
    width: -moz-fit-content;
    width:fit-content;
    padding-right: 3%;
    color: var(--h-color);
    flex-basis: 100%;
    margin:0;
}

#education-div h2 {
    animation-name: slide-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

#education-div p {
    text-align: left;
    padding-left:.8%;
}

@keyframes slide-in {
    from {
        margin-left: 100%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

#education-div p a {
    text-decoration: none;
    color : var(--h-color);
}

#passion-div h2 {
    
}