* {
    /* outline: 1px solid red; */
    scroll-behavior: smooth;
}

nav {
    font-size: 1.1em;
}

#top-nav {
    background-color: transparent;
    overflow: hidden;
}

#top-nav ul {
    display: flex;
    gap: 1.4rem;
    margin: none;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: flex-end;
    border-bottom: 1.5px solid #5c5c5c;
    font-size: 23px;
}

#top-nav a {
    float:left;
    display: block;
}

nav li {
    list-style: none;
}

nav li:first-child {
    font-size: 1.8rem;
    font-weight: 750;
    flex-basis: 65%;
}

nav li:first-child a {
    padding:0;
}

li.active {
    font-weight: 700;
    border-bottom: 1px solid var(--b-color);
}

nav ul a {
    text-decoration: none;
    border: none;
    /* color: white; */
    padding:10px 10px 0 10px;
}

#top-nav a:hover {
    background-color:var(--h-color);
    color: whitesmoke;
    border-bottom: 2px solid #111000;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#top-nav .icon {
    display:none;
}

@media screen and (max-width: 600px) {
    #top-nav a:not(:first-child) {display: none;}
    #top-nav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    #top-nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #top-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
li.active>a:hover {
    background-color: white; 
    color: white;
}

#top-nav a:visited {
    color: black;
}

#top-nav a:visited:hover {
    color: whitesmoke;
    font-weight: 700;
}

nav ul li:last-child {
    text-wrap:nowrap;
}

#code-image {
    height: 20px;
    width: auto;
}

#nav-title {
    color: #1d1e75e5;
}

#top-nav li:first-child a:hover {
    background-color: transparent;
    color: black;
    border-bottom: none;
}

#tablet {
    font-size: 3.1vw;
    border-bottom: 3px solid var(--b-color);
}

#tablet ul li {
    display: none;
    position: absolute;
    overflow: hidden;
}

#tablet ul li:first-child {
    display:inline;
    position: relative;
    font-size: 4.25vw;
    padding-top: 1.95%;
}

#tablet ul:first-child {
    display: flex;
    flex-direction: row;
}

#tablet ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0;
}

#tablet a:visited {
    color: black;
}

.mobile {
    font-size: 20px;
    border-bottom: 3px solid var(--b-color)
}

.mobile>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.mobile>ul:first-child{
    width: 80%;
}

.mobile a:visited{
    color: black;
}

.hidden {
    position:absolute;
    display: none;
    overflow: hidden;
}

.visibleNav {
    width: 16px;
    height: auto;
    font-size: 1.4em;
    color: black;
    border: 1.5px solid black;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}