* {
    /* outline: 1px solid red;   */
}

nav {
    font-size: 1.1em;
}

#top-nav {
    /* background: linear-gradient(180deg, #ffffff, #acacac81); */
    background-color: transparent;
}

#top-nav ul {
    display: flex;
    gap: 1.4rem;
    margin: none;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: flex-end;
    border-bottom: 1.5px solid #5c5c5c;
}

nav li {
    list-style: none;
}

nav li:first-child {
    font-size: 1.8rem;
    font-weight: 750;
    flex-basis: 65%;
}

nav li:first-child a {
    padding:0;
}

li.active {
    font-weight: 700;
    border-bottom: 1px solid var(--b-color);
}

nav ul a {
    text-decoration: none;
    border: none;
    /* color: white; */
    padding:10px 10px 0 10px;
}

#top-nav a:hover {
    background-color:var(--h-color);
    color: whitesmoke;
    border-bottom: 2px solid #111000;
    border-radius: 8%;
}

li.active>a:hover {
    background-color: white; 
    color: white;
}

#top-nav a:visited {
    color: black;
}

#top-nav a:visited:hover {
    color: whitesmoke;
    font-weight: 700;
}

nav ul li:last-child {
    text-wrap:nowrap;
}

#code-image {
    height: 20px;
    width: auto;
}

#nav-title {
    color: #1d1e75e5;
}

#top-nav li:first-child a:hover {
    background-color: transparent;
    color: black;
    border-bottom: none;
}