.footer-container {
    border-top: 5px solid var(--b-color);
    display: flex;
    align-items: center;
    padding: 10px;
}

.footer-container p {
    font-size: 1.4em;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .footer-container {
        display:flex;
        flex-direction:column;
    }
}

#contact-btn, #contact-btn:visited {
    text-decoration: none;
    font-size: 1.4rem;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    color: white;
    transition-property: background-color color;
    transition-duration: 1.2s;
}

#contact-btn:hover {
    background-color:#1b1b1b75;
    color: #330606;
    transition-property: background-color color;
    transition-duration:1.2s; 
}