#introduction {
    padding: 5%;
    color: white;
}

div>p {
    font-size: 2.3rem;
    font-weight: 700;
    padding: 0 5%;
    text-align: center;
    text-wrap:wrap;
}

#explore-link {
    text-align: center;
    padding: 20px;
}

#explore-link a {
    padding: 15px;
    text-decoration: none;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color .8s;
}

#explore-link a:hover {
    background-color: #cacaca4d;
    transition: background-color .8s;
}


#intro-nav {
    margin:0;
    padding:0;
    display:flex;
}
#intro-nav li {
    color: white;
}
#intro-nav-title {
    color: white;
}
#intro-nav-title:visited {
    color: white;
}
#intro-nav-title:hover {
    color: #c5bfbf8c;
    transition: color 0.9s;
}
#arrow {
    color: white;
}
#explore-link a:hover #arrow {
    animation: 2s normal 1 hover-right;
}
/* Still experimenting on the hover effect here*/
/* 
@keyframes hover-right {
    0% {
        color: black;

    }
    100% {
        color: white;
    }
} */