#introduction {
    padding: 5%;
    color: black;
    background-color: var(--secondary-color);
    border: 1.1px solid black;
    box-shadow: 0px 1px 10px black;
}

body{
    background-color: var(--primary-color);
}

#introduction-div {
    padding: 5%;
    color:black;
    border-top: 1.1px solid black;
}

div>p {
    font-size: 2.3rem;
    font-weight: 700;
    padding: 0 5%;
    text-align: center;
    text-wrap:wrap;
}

#explore-link {
    text-align: center;
    padding: 20px;
}

#explore-link a {
    padding: 15px;
    text-decoration: none;
    padding: 22px;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    transition: background-color .8s;
}

#intro-nav {
    margin:0;
    padding:0;
    display:flex;
    background-color: var(--primary-color);
}
#intro-nav li {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 4px;
    border-radius: 6px;
}
#intro-nav-title {
    color: var(--primary-color);
}
#intro-nav-title:visited {
    color: var(--primary-color);
}
#arrow {
    color: var(--primary-color);
}
#explore-link a:hover #arrow {
    animation: 2s normal 1 hover-right;
}
/* Still experimenting on the hover effect here*/
/* 
@keyframes hover-right {
    0% {
        color: black;

    }
    100% {
        color: white;
    }
} */