#introduction {
    padding: 5%;
    color: black;
    background-color: #e2e0e0;
    border:1.1px solid black;
}

#introduction-div {
    padding: 5%;
    color:black;
    border-top: 1.1px solid black;
}

div>p {
    font-size: 2.3rem;
    font-weight: 700;
    padding: 0 5%;
    text-align: center;
    text-wrap:wrap;
}

#explore-link {
    text-align: center;
    padding: 20px;
}

#explore-link a {
    padding: 15px;
    text-decoration: none;
    border-top: 3px solid rgb(153, 144, 144);
    border-bottom: 3px solid rgb(153, 144, 144);
    color: black;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color .8s;
}

#explore-link a:hover {
    background-color: rgb(42, 42, 44);
    color: #dddbdb;
    border-top: 3px solid rgb(42, 42, 44);
    border-bottom: 3px solid rgb(42, 42, 44);
    transition: background-color .8s, color 0.8s, border-bottom 0.8s, border-top 0.8s;
}

#intro-nav {
    margin:0;
    padding:0;
    display:flex;
}
#intro-nav li {
    color: black;
}
#intro-nav-title {
    color: black;
}
#intro-nav-title:visited {
    color: black;
}
#intro-nav-title:hover {
    color: #c5bfbf8c;
    transition: color 0.9s;
}
#arrow {
    color: black;
}
#explore-link a:hover #arrow {
    animation: 2s normal 1 hover-right;
}
/* Still experimenting on the hover effect here*/
/* 
@keyframes hover-right {
    0% {
        color: black;

    }
    100% {
        color: white;
    }
} */