#projectsh {
    font-size: 2.7rem;
    font-weight: 470;
    text-align: center;
    letter-spacing: 18px;
}

#projectsp {
    font-weight: 470;
}

#projectsdiv {
    text-align: center;
}

.projects-icons {
    height: 10.5vh;
    max-height: 150px;
    min-height: 80px;
    padding: 0 8% 0 0%;
}